aws/cluster/.terraform
aws/cluster/.terraform.*
aws/cluster/main.tf.json
aws/cluster/terraform*
aws/ansible_install/ansible.cfg
aws/ansible_install/scylla_servers.yml
aws/ansible_install/scylla_servers_full.yml
gcp/cluster/.terraform
gcp/cluster/.terraform.*
gcp/cluster/main.tf.json
gcp/cluster/terraform*
gcp/ansible_install/ansible.cfg
gcp/ansible_install/scylla_servers.yml
gcp/ansible_install/scylla_servers_full.yml
ssh_scripts/*
.DS_Store
main.tf.json
*.bk
.vscode
monitor.sh
python_lib/__*
backup
stress_inventory/files/*
